.table__content-container {
  background-color: rgba(195, 244, 160, 0.3);
  height: 100%;
  padding-top: 100px;
  padding-left: 16px;
  padding-right: 16px;
}

.table__container {
  height: 100%;
}

.table__table-row {
  border: 1px solid black;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__table-header {
  font-size: 20px;
  padding: 12px;
  border-right: 1px solid black;
}

.table__table-data {
  width: 50%;
  text-align: left;
  border: 1px solid black;
  padding: 12px;
  font-size: 16px;
}

.table__form {
  margin-top: 80px;
  width: fit-content;
}

.table__form-row {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}

.table__form-label {
  margin-bottom: 12px;
}

.table__form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .table__form-wrapper {
    flex-wrap: wrap;
  }
  .table__form-row {
    margin-bottom: 12px;
  }
  .table__table-header {
    font-size: 16px;
  }
}

.table__form-submit-button {
  margin-top: 16px;
}
